/.idea
/node_modules
/build
/tsconfig.tsbuildinfo
.env
/outmarkets
/outfiles

# compiled js
/lib

firebase-debug.log

allPairs_bsc.json

#Hardhat files
cache
artifacts
typechain-types
/test-results/
/playwright-report/
/playwright/.cache/


